{{>head}}
<body>
    {{>navbar}}

    <section class="hero py-7">
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2">
                <h6 class="text-lg"><em>Hunger makes you MAD?</em></h6>
                <h1 class="text-3xl md:text-6xl font-bold">Don't wait!!</h1>
                <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary"><a href="#menupage">Order Now</a></button>
            </div>
            <div class="w-1/2">
                <img src="/img/hero-pizza.png" alt="hero-pizza">
            </div>
        </div>
    </section>

    <section class="menu container mx-auto py-8" id="menupage">
       
        <h1 class="text-xl font-bold mb-8">All Pizzas</h1>
        
        <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-12 gap-y-16">

            {{#each pizzas}}
                     <div class="w-full lg:w-64">
                    
                    <img src="/img/{{this.image}}" alt="pizza-menu" class="h-30 sm:h-40 mb-4 mx-auto" >
                    
                    <div class="text-center">
                        
                        <h2 class="mb-4 text-lg">{{this.name}}</h2>
                        
                        <span class="size py-1 px-4 rounded-full uppercase text-xs">{{this.size}}</span>
                        
                        <div class="flex items-center justify-around mt-6">
                            
                            <span class="font-bold text-lg">₹ {{this.price}}</span>
                            
                            <button data-_id="{{this._id}}" data-name="{{this.name}}" data-image="{{this.image}}" data-price="{{this.price}}" data-size="{{this.size}}" class="add-to-cart py-1 px-2 md:px-6 rounded-full flex item-center font-bold">
                                
                                <span>+</span>
                                <span class="ml-4">Add</span>
                            
                            </button>
                        
                        </div>
                    
                    </div>
                
                </div>

            {{/each}}
        
        </div>
    </section>
    <script src="/js/app.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>

  <script>  
var count = 0;
const addtocart = document.querySelectorAll(".add-to-cart");
addtocart.forEach((btn)=>
{         

    btn.addEventListener('click',(e)=>
    {   
        const pizza = 
        {
            _id :  btn.dataset._id,
            name : btn.dataset.name,
            image : btn.dataset.image,
            price : btn.dataset.price,
            size : btn.dataset.size
        }
        count=count + 1;
        document.getElementById("count").innerText = count;
        // console.log(count);
        // console.log(pizza);
    })
});
</script>
</body>
</html>
    